<!DOCTYPE html>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <a href=<%= bookmark %> target='blank'><li><%= bookmark %></li></a>
  <% end %>
</ul>
<br>
<form action = '/adds_bookmark' method = 'post'>
  <h4>To add a new bookmark, enter a website address below!</h4>
  <input type = 'text' name = 'url'>
  <input type = 'submit' value = 'Add'>
</form>
